{% macro bio() %}
<div class="split-bio">
    {% if config.extra.content.bio is defined %}
    <span class="tagline">{{ config.extra.content.bio }}</span>
    {% else %}
    <!-- Default tagline. Change me in `config.toml` -->
    <span class="tagline"> Hi! I'm Selina from Shenzhen, China 🇨🇳. A couple of tags: <a href="https://www.16personalities.com/infj-personality">INFJ</a>, <a href="https://www.astrology.com/zodiac-signs/leo">Leo ♌</a>, Guzheng player 🪕, defo a foodie 🥘. After completing my <a href="https://www.research.ed.ac.uk/en/publications/designing-a-course-and-teaching-evaluation-platform-for-the-schoo">CS bachelor</a> at the University of Edinburgh 🏴󠁧󠁢󠁳󠁣󠁴󠁿, I'm now pursuing my <a href = "https://scholars.duke.edu/person/selina.zhan">CS master</a> at the Duke University 🇺🇸. Looking to be a wonderful software engineer 💻, caring a lot about sustainability ♻️, hitting gym often 🧘, and traveling around occasionally in free time 👣.</span>
    {% endif %}
</div>
{% endmacro bio %}
